@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-black;
  @apply bg-fixed bg-no-repeat bg-gradient-to-b from-black to-[#0b215b];
  overscroll-behavior-y: none;
  min-height: 100.3%;
}

.bg-gradient {
  @apply bg-fixed bg-no-repeat bg-gradient-to-b from-black to-[#0b215b];
}

.bg-gray {
  @apply bg-fixed bg-no-repeat bg-gradient-to-b from-[hsl(224,5%,5%)] to-[hsl(224,5%,20%)];
}

.react-modal-sheet-container {
  @apply !bg-[#262626];
}

a {
  @apply underline decoration-light-text hover:decoration-white;
}

input[type="text"],
input[type="number"] {
  @apply p-4 rounded-xl;
  @apply text-black;
  @apply placeholder-[#4E5B7E];
  @apply border-[2px] focus:outline-none focus:ring-2 focus:ring-offset-2  ring-offset-black;
}
